.carousel {
  height: 650px;
  width: 100%;
  position: relative;
  margin-bottom: 35px;
}

.image {
  height: 70%;
  width: 75%;
  top: 200px;
  left: 42%;
  transform: translateX(-39%);
  position: absolute;
  border-radius: 25px;
}

.carousel-text {
  padding: 0 80px;
}

.image-hided {
  opacity: 0;
  transition: opacity 0.5s;
}

.image-showed {
  opacity: 1;
  transition: opacity 0.5s;
}


@media (min-width: 1240px) {
  .carousel-text {
    padding: 0 100px;
  }
}

/* Hasta 1240px */
@media (max-width: 1240px) {
  .carousel {
    height: 500px;
    width: 100%;
    margin-bottom: 40px;
  }

  .image {
    top: 32%;
    width: 80%;
    height: 65%;
    left: 40%; 
  }
}

/* Hasta 768px */
@media (max-width: 768px) {
  .carousel {
    height: 300px;
    width: 100%;
    margin-bottom: 170px;
  }

  .carousel-text {
    padding: 0 20px;
  }

  .image {
    top: 45%;
    height: 80%;
    width: 92%;
    left: 39%; 
  }
}

@media (max-width: 600px) {
  .carousel {
    height: 200px;
    width: 100%;
    margin-bottom: 150px;
  }

  .image {
    top: 65%;
    height: 70%;
    width: 80%;
    left: 40%; 
  }
}
