/* DESCRIPTION */
.description {
  width: 100%;
  margin-top: 30px;
  padding-top: 50px;
}

.start-image {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
}

.start-image img {
    width: 100%;
  }


.desciption-text {
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-image: url("../img/fondo_nav_mobile_1.png");
  font-weight: bold;
  box-sizing: border-box;
  margin: 50px 0;
}

.align-center {
  text-align: center;
}

.calendar-image {
  width: 100%;
  display: flex;
  justify-content: center;
}

.calendar-image img {
  width: 500px;
  margin-bottom: 25px;
}

.contact {
    width: 100%;
    display: flex;
}

/* Hasta 1024px */
@media (max-width: 1024px) {
  .calendar-image img {
    width: 400px;
  }
}

/* Hasta 768px */
@media (max-width: 768px) {
  .description {
    margin-top: 10px;
    padding-top: 100px;
  }

  .start-image {
    height: auto;
    margin-bottom: 30px;
  }

  .image {
    padding: 20px;
  }


  .desciption-text {
    margin: 10px 20px 40px 20px;
    border-radius: 10px;
  }

  .calendar-image img {
    width: 50%;
  }

  .contact {
    flex-direction: column;
  }
}

/* Hasta 600px */
@media (max-width: 600px) {
  .calendar-image img {
    width: 80%;
  }
}