:root {
  --theme-color: white;
  --navbar-theme-color: #DAC7AE;
  --third-color: #A1C9C9;
  --secondary-color: #E06567;
  --primary-color: #347d98;
  --text-color: black;
  --text-color-inverse: white;
  --navbar-shallow-color: grey;
  --meny-mobile-background-color: green;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Amatic SC", sans-serif;
  font-weight: 600;
  background-color: var(--theme-color);
  color: var(--text-color);
  height: 100%;
}

section {
  margin-top: -100px;
  padding-top: 100px;
}


.title {
  font-weight: 500;
  font-size: 20px;
  font-family: "Cabin Sketch", sans-serif;
}

/* Desde 1024px */
 @media (min-width: 1024px) { 
  body {
    font-size: 20px;
  font-weight: 300;
  }

  .title {
    font-size: 22px;
  }
}

/* Hasta 1024px */
 @media (max-width: 1024px) { 
  .title {
    font-size: 18px;
  }
}

/* Hasta 768px */
 @media (max-width: 768px) { 
  .title {
    font-size: 17px;
  }
}